body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7; /* Cor de fundo para a página toda */
}

#content {
    max-width: 800px; /* Largura máxima para o conteúdo */
    margin: 20px auto; /* Centraliza o conteúdo na página com margem superior/inferior */
    text-align: center; /* Centraliza os elementos filhos que são elementos de bloco */
}

#video iframe {
    display: block; /* Garante que o iframe se comporte como um bloco */
    width: 100%; /* O vídeo ocupa 100% da largura do #video-container */
    height: 450px; /* Altura fixa para o vídeo */
    margin: auto; /* Centraliza horizontalmente dentro do #video-container */
    margin-bottom: 20px; /* Margem entre o vídeo e os recursos */
}


#recursos a {
    display: inline-block;
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px; /* Margem entre os recursos e a lista de aulas */
}

#aulas-list ul {
    list-style-type: none; /* Remove estilos de lista */
    padding: 0; /* Remove padding padrão */
    background-color: white; /* Fundo branco para a lista de aulas */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra para dar destaque */
    border-radius: 5px; /* Bordas arredondadas para a lista */
    margin-bottom: 20px; /* Espaço abaixo da lista */
}

#aulas li {
    padding: 10px; /* Espaçamento interno para cada item da lista */
    border-bottom: 1px solid #ddd; /* Linha divisória entre as aulas */
}

#aulas li:last-child {
    border-bottom: none; /* Remove a borda do último item */
}

#aulas li:hover {
    background-color: #f0f0f0; /* Cor de fundo ao passar o mouse */
}

header {
    text-align: center; /* Centraliza o logo e o título */
    padding: 20px; /* Espaçamento interno */
    background-color: #f7f7f7; /* Cor de fundo para o cabeçalho */
}

header img {
    max-height: 100px; /* Altura máxima para o logo */
    margin-bottom: 10px; /* Espaço abaixo do logo */
}

header h1 {
    margin: 0; /* Remove a margem padrão do título */
    color: #333; /* Cor do texto para o título */
    font-size: 2em; /* Tamanho do texto para o título */
}

